h3 {
    width: 100%;
    background: rgb(115, 103, 240);
    padding: 10px 0px;
    color: #FFFFFF;
    border-radius: 10px 10px 0px 0px;
}
.product {
    max-width: 700px;
    width: 85%;
    margin: 0 auto;
    background: #FFFFFF;
    box-shadow: 0 4px 25px 0 rgba(0,0,0,.1);
    border-radius: 10px;
}

button {
    border-radius: 7px;
    font-size: 20px;
    width: 40%;
    background-color:rgb(115, 103, 240);
    color: #FFFFFF;
    padding: 10px 20px;
    margin: 20px;
    border: none;
}
.calendar-container{
    width: 80%;
    margin: 0 auto;
}

span {
    width: 80%;
}
